.content-wrapper.document-wrapper img {
    max-width: 100%;
    height: auto;
}

.document-wrapper .document-body h1,
.document-wrapper .document-body h2,
.document-wrapper .document-body h3 {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .header.antiquiet > strong {
        font-size: 14px;
    }
}
