.main-wrapper {
    margin: 20px 30px;
    margin-bottom: 60px;
}

.document-list li:not(:last-child) {
    margin-bottom: 6px;
}

.document-wrapper {
    padding-right: 15px;
}

.fade-in {
    animation: fade-in 3s;
    animation-fill-mode: both;
}
.fade-in-fast {
    animation: fade-in 1s;
    animation-fill-mode: both;
}

.fade-out {
    animation: fade-out 3s;
    animation-fill-mode: both;
}
.fade-out-fast {
    animation: fade-out 1s;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out button {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .document-list {
        padding-left: 24px;
        list-style-type: none;
        padding-left: 1px;
    }
    .document-list li:not(:last-child) {
        margin-bottom: 16px;
    }
}
